body{
    background-color: rgba(125, 169, 187, 0.342);
}

.header {
    text-align: center;
    margin: 50px;

}

.taskInputs{
    background-color: rgba(109, 101, 93, 0.404);
}

.taskComplete{
    background-color: darkgrey;
    font-style: italic;
    text-color: lightblue;
}

.task{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Low{
    background-color: rgba(155, 251, 155, 0.767);
}

.Medium {
    background-color:rgba(251, 247, 126, 0.767);
}

.High{
    background-color:rgba(250, 167, 167, 0.767);
}


