body{
}

.taskComplete{
    background-color: darkgrey;
    font-style: italic;
    font-color: lightblue;
}

.task{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Low{
    background-color: lightskyblue;
}

.Medium {
    background-color:lightgoldenrodyellow;
}

.High{
    background-color:lightpink;
}

.test{
    background-color:lightsalmon;
}

